# Source language and JDK version to use
language: java
jdk: oraclejdk8

# Compile and package JAR and set build properties
install: mvn dependency:go-offline
script: mvn package -DbuildNumber=$TRAVIS_BUILD_NUMBER -DciSystem=travis -Dcommit=${TRAVIS_COMMIT:0:7}

# Perform steps after compilation/test success
after_success:
  # Get files for use with build, namely the custom Maven settings.xml and scripts
  - "git clone https://github.com/flow/travis-ci-resources.git $HOME/build/flow/travis"
  # SNAPSHOTS: Check if commit is not a pull request, if repo is official, if branch is not master; then generate, sign, and deploy artifacts and reports
  - "[[ $TRAVIS_PULL_REQUEST == false ]] && [[ $TRAVIS_REPO_SLUG == flow/math ]] && [[ $TRAVIS_BRANCH != master ]] && mvn javadoc:jar source:jar cobertura:cobertura coveralls:report -DserviceJobId=$TRAVIS_JOB_ID deploy --settings $HOME/build/flow/travis/settings.xml"
  # RELEASES: Check if commit is not a pull request, if repo is official, if branch is master; then run deployment script
  - "[[ $TRAVIS_PULL_REQUEST == false ]] && [[ $TRAVIS_REPO_SLUG == flow/math ]] && [[ $TRAVIS_BRANCH == master ]] && $HOME/build/flow/travis/deploy.sh && $HOME/build/flow/travis/gh-pages.sh"

# RELEASES: Deploy main JAR to GitHub Releases
deploy:
  provider: releases
  api-key: $GITHUB_TOKEN
  file: "target/flow-math-`cat version.txt`.jar"
  skip_cleanup: true
  on:
    branch: master

# Notification services
notifications:
  # Disable build status email notifications, until the issue with forks is fixed
  email: false
  webhooks:
    # Send build information and status to Notifico
    - http://n.tkte.ch/h/2049/2uvlIumWlN12D5GMEdCWxXB-

# Environmental system variables
env:
  global:
    # Make the log output cleaner
    - TERM=dumb
    # Super secure, encrypted variables! Ssssh!
    - secure: "PvrMSGHrTGhkpR9bU4bFHPbqI7o/0T56BaTK1dnUZNMtZGFqZ6p6sZR2hNvrzlubS0K+LGua3cULqDje73wP4NFQPpJghkDT02vyaKXs+CPxnI61r62q7BeTCyW/UzhsKuVmwDpFW/YDS+zC0crxbU2WWQwSMI2fEml8Aq6Mm0I="
    - secure: "acSsb1tUWBrwU9v3sPvHhgWc0Y0J7uTpvlunjJqS6ncU0/uP3Hz08fIJS27zTmuxzfDlzgu8/GwEwHNJ4gLKq8AOtxm5YZdNPGwOzll5N1jvuIMFbVOD1aV1nBNRQLoJu8Yo2T3RuWz2sXHS6doi5mq8D3hwK1A0Gz8DFEuUx08="
    - secure: "A6oXUcKZu6hwC9BgvJBg6jc+/nLAU5gozRz7ULOZ27PHvbzhhYFpoTyhO8MkNWNKyhgDPbAq1ee+xxvYnxJzgE5onEO5j3d0VkBOqGu007hKMZ9AjA+m8hpTfRWOAbTcjySa9EU2zXlfjbXjcdiOEV6tpjrPC8G+BmPKzP5/TUE="
    - secure: "WIjBaWIdd3z3HOOKDULXVt5aaH62/VPGcT9xHqD7IrwpO4RXK1huq4aWNiBexdX6/7BQgDjQKRk2L6t/1PDiMlDGKTDpxZKJRgimKeeR+uUUCsWEi4yHZf95m8+xdzqUB00RT9LCTMPtB3RAvin9Fehy/aoMdFffArqBVsKgIls="
