package com.flowpowered.math.vector;

public interface Vector#E# {
    Vector#E# mul(#e# a);

    Vector#E# div(#e# a);

    Vector#E# pow(#e# pow);

    Vector#E# abs();

    Vector#E# negate();

    #EDecEqui# length();

    #e# lengthSquared();

    int getMinAxis();

    int getMaxAxis();

    #e#[] toArray();

    Vectori toInt();

    Vectorl toLong();

    Vectorf toFloat();

    Vectord toDouble();
}
